In [1]:
#Importing libraries and dataset
import pandas as pd
import numpy as np
df = pd.read_csv('Sigmoid_Spotify_Data_2.csv')

# Artists

In [2]:
#Selecting song listened to more than 10s and reseting index
df2 = df[df['msPlayed'] > 10000]
df2.reset_index(drop=True,inplace=True)
df2

,Unnamed: 0,sigmaritan,endTime,artistName,trackName,msPlayed
0,0,alex_clefos,2021-05-06 23:04,Shinedown,My Name (Wearing Me Out),83780
1,1,alex_clefos,2021-05-07 00:29,Disturbed,Deify,1440453
2,3,alex_clefos,2021-05-07 00:46,Disturbed,Deify,1002243
3,5,alex_clefos,2021-05-07 00:57,Disturbed,Deify,664190
4,7,alex_clefos,2021-05-07 01:06,Disturbed,Indestructible,543770
...,...,...,...,...,...,...
270829,18350,vladimir_stojoc,2022-04-20 17:40,Lil Nas X,INDUSTRY BABY (feat. Jack Harlow),212352
270830,18351,vladimir_stojoc,2022-04-20 17:43,bbno$,resume,164426
270831,18352,vladimir_stojoc,2022-04-20 17:46,YUNGBLUD,braindead!,163293
270832,18353,vladimir_stojoc,2022-04-20 17:49,Rich Brian,Getcho Mans,211306
270833,18354,vladimir_stojoc,2022-04-20 17:53,Rich Brian,New Tooth,220000

In [3]:
#Removing the duplicates of artists and track from the same listener
df3 = df2[~pd.DataFrame(np.sort(df2[['sigmaritan','artistName', "trackName"]], axis=1)).duplicated(keep='first')]

In [4]:
#Grouping by sigmaritans and getting the most common artist names
df3 = df3.groupby(['sigmaritan'])['artistName'].value_counts()

In [5]:
#Creating a list with names
sigmaritans = df['sigmaritan'].unique()
#Saving in a txt file the results
with open("5_most_listened_artists_sigmaritan.txt", "w",encoding='utf8') as f:
    for name in sigmaritans:
        print(f'\n----------{name}---------\n', file=f)
        print(df3[name][:6], file=f)

# Songs

In [6]:
#Adding a new column to make the work easier
df2['song'] = df2['artistName'] +' '+ df2['trackName']

c:\users\pulbe\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
del df3 
#Grouping by sigmaritans and getting the most common songs
df3 = df2.groupby(['sigmaritan'])['song'].value_counts()

In [8]:
#Saving the results in a txt file
with open("5_most_listened_songs_sigmaritan.txt", "w",encoding='utf8') as f:
    for name in sigmaritans:
        print(f'\n----------{name}---------\n', file=f)
        print(df3[name][:5], file=f)

# Skips

In [9]:
pd.read_csv('skipped_counts.csv')

             sigmaritan  nr_of_skips
0           alex_clefos         6845
1   andreea_covalevschi        12162
2        arina_coroliuc         3148
3         denis_smocvin          969
4     eduard_balamatiuc        13696
5          elena_timbur         1248
6           irina_tiora         4221
7         lavinia_spinu            7
8         marius_purici         1578
9       marius_sclearuc         6291
10      nicolae_dubenco         6352
11      nicolae_gherman        27292
12      vasile_papaluta        10069
13        vlada_pulbere         1453
14      vladimir_stojoc         3369

In [10]:
pd.read_csv('percentage_of_skipping_01.csv')

             sigmaritan  percentage of skipping
0           alex_clefos               22.903701
1   andreea_covalevschi               34.241793
2        arina_coroliuc               22.361131
3         denis_smocvin               32.494970
4     eduard_balamatiuc               51.299723
5          elena_timbur               19.721871
6           irina_tiora               45.450630
7         lavinia_spinu               10.000000
8         marius_purici               42.430761
9       marius_sclearuc               35.422297
10      nicolae_dubenco               71.928434
11      nicolae_gherman               46.708083
12      vasile_papaluta                9.102579
13        vlada_pulbere               15.573419
14      vladimir_stojoc               18.354672

# Longest songs

In [11]:
#Importing dataset
duration = pd.read_csv('duration_df.csv')
duration

,Unnamed: 0,sigmaritan,artistName,trackName,msPlayed,duration
0,0,alex_clefos,Shinedown,My Name (Wearing Me Out),83780,216187.0
1,1,alex_clefos,Disturbed,Deify,1440453,256573.0
2,2,alex_clefos,Disturbed,Guarded,1776,200293.0
3,3,alex_clefos,Disturbed,Deify,1002243,256573.0
4,4,alex_clefos,Disturbed,Guarded,1646,200293.0
...,...,...,...,...,...,...
351885,351885,vladimir_stojoc,Lil Nas X,INDUSTRY BABY (feat. Jack Harlow),212352,212000.0
351886,351886,vladimir_stojoc,bbno$,resume,164426,164427.0
351887,351887,vladimir_stojoc,YUNGBLUD,braindead!,163293,163293.0
351888,351888,vladimir_stojoc,Rich Brian,Getcho Mans,211306,211307.0
351889,351889,vladimir_stojoc,Rich Brian,New Tooth,220000,220000.0

In [12]:
#Selecting only the tracks that were listened to almost entirely (>=0.9 of duration)
duration = duration.loc[duration['msPlayed'] / duration['duration'] >= 0.9]

In [13]:
#function to transform miliseconds in minutes
def ms_to_min(x):
    return x/60000

In [14]:
#applying the function
duration['minutes'] = duration['duration'].apply(ms_to_min)

c:\users\pulbe\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
#Reseting index
duration.reset_index(inplace = True, drop = True)

In [16]:
duration

,Unnamed: 0,sigmaritan,artistName,trackName,msPlayed,duration,minutes
0,1,alex_clefos,Disturbed,Deify,1440453,256573.0,4.276217
1,3,alex_clefos,Disturbed,Deify,1002243,256573.0,4.276217
2,5,alex_clefos,Disturbed,Deify,664190,256573.0,4.276217
3,7,alex_clefos,Disturbed,Indestructible,543770,278027.0,4.633783
4,8,alex_clefos,Disturbed,Indestructible,564040,278027.0,4.633783
...,...,...,...,...,...,...,...
207908,351885,vladimir_stojoc,Lil Nas X,INDUSTRY BABY (feat. Jack Harlow),212352,212000.0,3.533333
207909,351886,vladimir_stojoc,bbno$,resume,164426,164427.0,2.740450
207910,351887,vladimir_stojoc,YUNGBLUD,braindead!,163293,163293.0,2.721550
207911,351888,vladimir_stojoc,Rich Brian,Getcho Mans,211306,211307.0,3.521783
207912,351889,vladimir_stojoc,Rich Brian,New Tooth,220000,220000.0,3.666667

In [17]:
#Grouping by sigmaritan and sorting duration column descending
df3 = duration.groupby(['sigmaritan']).apply(lambda x: x.sort_values('duration',ascending=False))

In [18]:
#Reseting index
df3 = df3.reset_index(drop=True)

In [19]:
#Removing duplicates of songs by same listener and keeping the first one(the longest listened to)
df3 = df3[~pd.DataFrame(np.sort(df3[['sigmaritan','trackName', 'artistName']], axis=1)).duplicated(keep='first')]

In [20]:
#Grouping by sigmaritan and getting the first 5 songs
df3 = df3.groupby(['sigmaritan']).head(5)

In [21]:
df3

,Unnamed: 0,sigmaritan,artistName,trackName,msPlayed,duration,minutes
0,29479,alex_clefos,Black Sabbath,God Is Dead?,532266,532267.0,8.871117
13,21534,alex_clefos,Metallica,Master Of Puppets - Remastered,515386,515387.0,8.589783
34,22680,alex_clefos,Iron Maiden,Hallowed Be Thy Name - 2015 Remaster,431093,431093.0,7.184883
57,12210,alex_clefos,Apashe,I'm A Dragon,390620,390621.0,6.510350
100,28841,alex_clefos,Disturbed,Overburdened,357320,357320.0,5.955333
...,...,...,...,...,...,...,...
194645,348722,vladimir_stojoc,Oxxxymiron,КТО УБИЛ МАРКА?,567000,567001.0,9.450017
194683,336621,vladimir_stojoc,Keith Jarrett Trio,You've Changed,493186,475213.0,7.920217
194687,344156,vladimir_stojoc,Jaden,Ninety,468168,468168.0,7.802800
194692,336663,vladimir_stojoc,Stan Getz,A Nightingale Sang In Berkeley Square,418000,418000.0,6.966667
194693,339779,vladimir_stojoc,Mikhail Shufutinsky,3 сентября,364986,376893.0,6.281550

In [22]:
#Saving results
df3.to_csv('longest_5_tracks.csv', index = True)

# Moods

In [23]:
pd.read_csv("mood_values.csv")

             sigmaritan    energy  danceability   valence       tempo
0           alex_clefos  0.836610      0.502875  0.405703  128.829043
1   andreea_covalevschi  0.710757      0.449651  0.413897  122.500013
2        arina_coroliuc  0.586346      0.610177  0.457723  118.518071
3         denis_smocvin  0.742059      0.575356  0.442180  123.830053
4     eduard_balamatiuc  0.623865      0.677276  0.453297  121.224153
5          elena_timbur  0.640411      0.599622  0.482984  120.366621
6           irina_tiora  0.522172      0.517497  0.346859  119.570217
7         lavinia_spinu  0.780510      0.592216  0.389737  125.034020
8         marius_purici  0.642618      0.637237  0.468233  120.448356
9       marius_sclearuc  0.666944      0.486100  0.404296  123.612276
10      nicolae_dubenco  0.654691      0.684913  0.432274  122.965140
11      nicolae_gherman  0.634779      0.615146  0.452823  120.560509
12      vasile_papaluta  0.719381      0.624972  0.466698  122.355780
13        vlada_pulbere  0.485727      0.594992  0.394768  117.243851
14      vladimir_stojoc  0.458597      0.621167  0.342041  117.335094
15                 mean  0.647031      0.585947  0.423568  121.626213